*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

$color: #3d3d3d;

html, body {
  margin: 0;
  padding: 0;
  // background: rgba(15, 15, 15, 0.2);
  color: $color;
}

.none-decoration-link{
  text-decoration: none;
  color: $color;
}
