.main-header{
  line-height: 50px;
  // background: rgba(100, 100, 100, 0.8);
  border-bottom: solid 1px #eee;

  &__contents-box{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
  
    &__left-box{

    }
    &__right-box{
      display: flex;

      &__content{
        width: 75px;
        text-align: center;
        cursor: pointer;

        span{
          padding-bottom: 5px;

          &:hover{
            color: rgb(62, 151, 173);
            border-bottom: solid 2px rgb(62, 151, 173);
          }
        }

      }
    }
  }
}