.main-container{
  &__upper-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; //あとでカテゴリー？画像？を追加するため仮設定
    margin-bottom: 8px;
    
    &__recommend-tag{
      background: rgb(216, 216, 218);
      margin: 8px;
      padding: 5px 8px;
      border-radius: 5px;
    }
  }

  &__contents-box{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // padding: 30px 39px;
    border-radius: 5px;
    
    &__content-card{
      position: relative;
      height: 330px;
      width: 260px;
      margin-bottom: 20px;
      // border: solid 1px #eeeeee;
      border-radius: 5px;
      cursor: pointer;

      &:not(:nth-child(4n)){
        margin-right: 20px;
      }

      &:hover{
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
      }

      &__image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        // background: rgb(100, 100, 100);
      }

      &__profile{
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 100%;
        padding: 8px;
        border-radius: 0 0 5px 5px;
        color: #ffffff;
        font-size: 13px;
        background: rgba(10, 10, 10, 0.5);

      }
    }
  }
}