.main-footer
  .main-footer__left
    %ul
      %li ××××××××××
      %li ××××××××××
      %li ××××××××××
      %li ××××××××××
      %li ××××××××××
      %li ××××××××××
  .main-footer__right
    %ul
      %li ××××××××××
      %li ××××××××××
      %li ××××××××××
      %li ××××××××××
      %li ××××××××××
      %li ××××××××××