.main-header
  .main-header__contents-box
    .main-header__contents-box__left-box
      ロゴ
    .main-header__contents-box__right-box
      .main-header__contents-box__right-box__content
        %span Menu
      .main-header__contents-box__right-box__content
        %span Logout